node_modules
*.env
*.log

# certificates
*.pem
*.key
*.crt
*.cer

# VS code configs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS specific
.DS_Store
